  *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: rgb(64, 65, 64);
        }
        .calculator{
            border: 2px solid  rgb(200, 213, 202);
            padding: 20px;            /* border-style: outset; */
            background-color: rgb(185, 196, 189);
            box-shadow: 0 6px 10px whitesmoke;
            border-radius: 10px;
            
        }
        input[type='text']{
            width: 300px;
            border:none;
            font-family: 'Courier New', 'Roboto', monospace;
            padding-top: 10px;
            padding-right: 5px;
            padding-left: 5px;
            font-size: 30px;
            height: 35px;
            background-color: rgb(91, 86, 86);
            color: whitesmoke;
            outline: none;
            border-radius: 7px;
            text-align: right;
            font-size: 30px;
        }
        .screen{
            filter: drop-shadow(0 5px 5px rgb(222, 215, 215)); 
        }
          
        body{
            display:flex;
            justify-content: center;
            align-items: center;
            margin-top: 85px;
        }
        .bodycal{
            margin-top: 10px;
            padding: 8px;
        }
        
        button{
            font-size: 20px;
            margin: 3px 4px 4px 3px;
            width: 50px;
            height: 40px;
            border-radius: 3px;
            background-color: rgb(36, 34, 33);
            background: transparent;
            border-color: bisque;
            opacity: 0.8;
            transition: opacity 0.2s;
            border-radius: 8px;
        }
        button:hover{
            opacity: 1;
            cursor: pointer;
              background-color: #d6d9d0;
             box-shadow: 0 2px 6px rgba(0,0,0,0.2);
        }
        button:active{
            opacity: 0.95;
        }
        ::placeholder{
            color: aliceblue;
        }
        #btn15,#btn20, #btn25, #btn30, #btn35{
            background-color: lightpink;
        }
  @media(max-width:576px){
            .container{
                padding: 5px;
             }
        #btn4, #btn5{
            background-color: lightskyblue
        }
